@model Core.Domain.Practitioner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Practitioner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.employeeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.employeeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BIGNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BIGNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.practitionerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
