@model Core.Domain.PatientFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.treatmentPlanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.treatmentPlanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intakeByPractitionerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intakeByPractitionerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supervisedBypractitionerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supervisedBypractitionerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registerDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registerDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dischargeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dischargeDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.patientFileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
